---
layout: default
title: bewd
---

<div id="home">
  <h1>Schedule</h1>
  <ul class="posts">

    {% for post in site.posts %}
    {% unless post.exclude %}

    <li><span>{{ post.date | date_to_string }}</span> &raquo; {{ post.title }}
    <ul>
      <li><a href="{{ post.url }}">Slides</a></li>
      {% for link_hash in post.links %}
        {% for link in link_hash %}
	  <li><a href="{{ link[1] }}">{{ link[0] }}</a></li>
	{% endfor %}
      {% endfor %}
    </ul>
    </li>

    {% endunless %}
    {% endfor %}
  
  </ul>
</div>