<h1>Welcome to RetFlix!</h1>
<p>See our collection of movies below.</p>


<% @my_movies.each do |movie| %>

<h2><%= movie.title %>:</h2> <p><%= movie.description %>, released <%= movie.year_released %></p>
<% end %>